<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用v-model指令实现数据的双向绑定</title>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <script>
        // 可以使用 v-model 指令在表单 <input>,<textarea>,<select>元素上创建双向数据绑定
        // 它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理
        // v-model 会忽略所有表单元素的 value、checked、selected 属性的初始值而总是
        // 将 Vue 实例的数据作为数据来源，应该通过 JavaScript 在组件的 data 选项中声明初始值
    </script>

<!--    <form id="app">-->
<!--        请输入用户名：<input type="text" name="username" v-model="message">-->
<!--        用户名为： {{message}}-->
<!--    </form>-->

<!--    <div id="app">-->
<!--        <textarea v-model="message"></textarea>-->
<!--        &lt;!&ndash; 在文本区域插值并不会生效, 应用 v-model 来代替 &ndash;&gt;-->
<!--        <textarea v-model="message"></textarea>-->
<!--        <p> {{message}} </p>-->
<!--    </div>-->

<!--    <div id="app">-->
<!--        请选择性别：-->
<!--        <input type="radio" name="sex" value="男" v-model="message"> 男-->
<!--        <input type="radio" name="sex" value="女" v-model="message"> 女-->
<!--        选择的性别为 {{message}}-->
<!--    </div>-->

<!--    <div id="app">-->
<!--        <input type="checkbox" v-model="singleHobbyCheck"> {{singleHobbyCheck}}-->
<!--    </div>-->

<!--    <div id="app">-->
<!--        选择爱好：-->
<!--        <input type="checkbox" name="hobby" value="running" v-model="multipleHobbyCheck">Running-->
<!--        <input type="checkbox" name="hobby" value="dancing" v-model="multipleHobbyCheck">Dancing-->
<!--        <input type="checkbox" name="hobby" value="singing" v-model="multipleHobbyCheck">Singing-->
<!--        选择的爱好有：{{multipleHobbyCheck}}-->
<!--    </div>-->

<!--    <div id="app">-->
<!--        <select v-model="singleSelected">-->
<!--            <option disabled value="">请选择</option>-->
<!--            <option>A</option>-->
<!--            <option>B</option>-->
<!--            <option>C</option>-->
<!--            <option>D</option>-->
<!--        </select>-->
<!--        {{singleSelected}}-->
<!--    </div>-->

<!--    <div id="app">-->
<!--        <select multiple v-model="multipleSelected">-->
<!--            <option>A</option>-->
<!--            <option>B</option>-->
<!--            <option>C</option>-->
<!--        </select>-->
<!--        {{multipleSelected}}-->
<!--    </div>-->

    <script>
        var vm = new Vue({
           el: '#app',
           data: {
               message: '',
               //单个复选框 绑定到布尔值
               singleHobbyCheck: false,
               //多个复选框，绑定到同一个数组
               multipleHobbyCheck: [],
               //单个下拉框
               singleSelected: '',
               //多个下拉框
               multipleSelected: []
           }
        });
    </script>

    <!-- 动态渲染选项的例子 -->
    <div id="dynamic-options-example">
        <!-- v-model绑定选中的值, 并指定默认值为 A -->
        <select v-model="selected">
            <!-- 用 v-for 指令动态生成选项，选项内容为 options 对象数组中单个对象的 text 值 -->
            <!-- 用 v-bind 指令将选项的值绑定为 options 对象数组中单个对象的 value 值 -->
            <option v-for="option in options" v-bind:value="option.value">
                {{option.text}}
            </option>
        </select>
        <p>选择的项为：{{selected}}</p>
    </div>
    <script>
        var vm = new Vue({
           el: "#dynamic-options-example",
           data: {
               selected: 'A',
               options: [
                   { text:"One", value:"A"},
                   { text:"Two", value:"B"},
                   { text:"Three", value:"C"}
               ]
           }
        });
    </script>

</body>
</html>